.banner {
  position: relative;
  object-fit: contain;
  z-index: -1;
}

.bannerContent {
  position: absolute;
  margin-top: 10vw;
  margin-left: 5vw;
  max-width: 30vw;
}

.heading {
  margin-top: 2vw;
  font-size: 5vw;
  line-height: 5vw;
  font-weight: bolder;
}

.description {
  font-size: 1.5vw;
  font-weight: 600;
}

.btncontain {
  margin-top: 2vw;
  max-height: 80%;
}

.playbutton {
  background-color: white;
  border-radius: 5px;
  padding: 5% 3% 5% 3%;
  width: 100%;
  max-width: 70%;
  font-weight: bold;
  font-size: 1vw;
}

.info {
  color: white;
  background-color: rgba(20, 20, 20, 0.466);
  border-radius: 5px;
  padding: 5% 3% 5% 3%;
  width: 100%;
  max-width: 70%;
  font-weight: bold;
  font-size: 1vw;
  margin-left: -20%;
}

.clickedPlay :hover {
  background: rgb(201, 201, 201);
}

.clickedInfo :hover {
  background: rgb(114, 114, 114);
}

.gradient {
  height: 57vw;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(255, 255, 255, 0),
    rgba(36, 36, 36, 0),
    #111111
  );
}
